body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  margin:0;
  padding:0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.cell {
  background: #ddd url(images/cell-bg.png);
  cursor:pointer;
  border:none;
  float: left;
  font-size: 24px;
  list-style: none;
  font-weight: bold;
  line-height: 34px;
  width: 41px;
  height: 41px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.gobang-game {
  width:100%;
  height: 100%;
}
.gobang-board{
  width:615px;
  height: 615px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left:-360px;
  margin-top: -288px; 
}

.game-info {
  margin-left: 20px;
}
